li {
  margin: 2px 10px;
}
nav,
.logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
Link {
  /* font-size: 15rem; */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
}
hr {
  width: 100%;
}
